*{
  padding: 0%;
  margin: 0%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button{
  padding: 10px 20px;
  margin: 0px 10px;
  font-size: 16px;
  cursor: pointer;
  animation: linear 2s ease-in-out infinite;
}
button:hover{
  background-color: #a30c0c;
}
h1{
  font-size: 24px;

  margin-bottom: 20px;
}
